// TYPESMITH
// @author Francesco Improta

// DEPENDENCIES
// ========================================================================

// Import 'sass-mq-lib' for breakpoints

@import '../node_modules/sass-mq-lib/mq.scss';

// SETTINGS
// Customize your Typesmith installation
// ========================================================================

// 1. Enable Typesmith classes

$typesmith-classes: true;

// 2. Set vertical rhythm - ratio | baseline - default values are located in _settings.scss
// You can override them declaring project's custom values in a separated settings file

$rhythm: baseline;

// 3. Define on which media-query change font-size
// Accepted values: small, medium , large, xlarge

$bp: medium;

// LIBRARY
// Import Typesmith library
// ========================================================================

@import '../_typesmith-lib.scss';


